body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: #ffffff;
  }

  img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid #ff6600; /* Add a border and adjust the color as needed */
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    text-align: center;
  }
  
  img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  h1 {
    color: #ff6600;
  }
  
  h2 {
    color: #ff6600;
    border-bottom: 2px solid #ff6600;
    padding-bottom: 5px;
  }
  
  .timeline {
    position: relative;
  }
  
  .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px solid #ff6600;
  }
  
  .timeline-item {
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  
  .timeline-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #ff6600;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  
  .timeline-item p {
    margin: 10px 0;
  }
  
  